{% extends "infopage/layout.html" %}
{% load static %}

{% block body %}

		<div class="container">
			<form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-username">Username</label>
            <input id="input-username" class="form-control" type="text" autofocus required name="username" placeholder="Username" aria-describedby="input-username-describe">
						{% if message %}
							<small id="input-username-describe" class="form-text">{{ message }}</small>
						{% endif %}
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-email">Email</label>
            <input id="input-email" class="form-control" type="email" required name="email" placeholder="Email">
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-password">Password</label>
            <input id="input-password" class="form-control" type="password" required name="password" placeholder="Password">
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-confpassword">Confirm password</label>
            <input id="input-confpassword" class="form-control" type="password" required name="confirm_password" placeholder="Confirm Password">
        </div>

				<div class="offset-md-2">
					<input id="register_btn" type="submit" value="Register">
					<div>
						Already have an account? <a href="{% url 'login' %}">Log In here.</a>
					</div>
				</div>
    	</form>
		</div>

{% endblock %}
