h1 {
    color: green;
}

select:invalid {
    color: grey;
}

a[data-bs-target="#addLocation"] {
    cursor: pointer;
}

#input-username-describe {
    color: red;
}

.location_city_timezone {
    color: blueviolet;
}

.explain-message {
    font-size: small;
    color: grey;
}

.order_btn {
    border: none;
    background-color: white;
    padding: 0;
}

.temp {
    display: inline-block;
    vertical-align: middle;
}
.condition {
    display: inline-block;
}

.forecastday {
    display: inline-block;
    margin-right: 8px;

    font-size: small;
    text-align: center;
}

.current-weather {
    margin-top: 8px;
}

.refresh-btn {
    font-size: xx-small;
    border: 0;
    border-radius: 2px;
    color: grey;
    text-align: right;
}

.Rates {
    font-size: small;
}

.current-currency {
    margin-top: 8px;
}
