h1 {
    color: green;
}

select:invalid {
    color: grey;
}

a[data-bs-target="#addLocation"] {
    cursor: pointer;
}

#input-username-describe {
    color: red;
}

.location_city_timezone {
    color: blueviolet;
}

.explain-message {
    font-size: small;
    color: grey;
}
