{% extends "infopage/layout.html" %}
{% load static %}


{% block body %}

		<div id="is_home_exist" hidden>{{ is_home_exist }}</div>

		<div class="CountryMainDiv">

			<div class="conteiner-fluid mx-4">
				<div class="row">
					{% for location in locations %}
					<div class="col-sm-12 col-md-6 mb-10">
							{% if location.is_home %}
								<div>🏡<b>{{location.city.name}}</b> ({{location.country.name}})</div>
								<div class="location_city_timezone" data-timezone="{{location.city.timezone}}" data-home=True></div>
								{% else %}
								<div><b>{{location.city.name}}</b> ({{location.country.name}})</div>
								<div class="location_city_timezone" data-timezone="{{location.city.timezone}}"></div>
							{% endif %}
							<!-- Weather -->
							<div class="current-weather" data-city="{{ location.city.name }}" data-country="{{ location.country.name }}"></div>




						</div>
					{% endfor %}
				</div>




			</div>

		</div>
{% endblock %}

{% block script %}
		<script src="{% static 'infopage/js/index.js' %}"></script>
		<script src="{% static 'infopage/js/timer.js' %}"></script>
		<script src="{% static 'infopage/js/weather.js' %}"></script>

{% endblock %}
