{% extends "infopage/layout.html" %}
{% load static %}


{% block body %}

		<div id="is_home_exist" hidden>{{ is_home_exist }}</div>

		<div class="CountryMainDiv">

			<div class="conteiner-fluid mx-4">
				<div class="row">
					{% for location in locations %}
					<div class="col-sm-12 col-md-6 mb-10">
							{% if location.is_home %}
								<div>🏡<b>{{location.city.name}}</b> ({{location.country.name}})</div>
								<div class="location_city_timezone" data-timezone="{{location.city.timezone}}" data-home=True></div>
								{% else %}
								<div><b>{{location.city.name}}</b> ({{location.country.name}})</div>
								<div class="location_city_timezone" data-timezone="{{location.city.timezone}}"></div>
							{% endif %}
							<!-- Weather -->
							<div class="weather">
								<div class="current-weather" data-city="{{ location.city.name }}" data-country="{{ location.country.name }}"></div>
								<button class="refresh-btn" onclick="refresh_weather(event)">Refresh</button>
							</div>
							<!-- Currency -->
							<div class="currency">
								<div class="current-currency" data-country="{{ location.country.name }}"></div>
								<button class="refresh-btn" onclick="refresh_currency(event)">Refresh</button>
							</div>
							<!-- Average restaurant and taxi price -->
							<div class="price" data-currency_code="">
								<div class="taxi-price">Taxi price: 500 {{ location.currency_code}} <small>(5 replies)</small></div>
								<div class="restaurant-price">Restaurant price: 2000 {{ location.currency_code}} <small>(5 replies)</small></div>
								<button class="refresh-btn" data-bs-toggle="modal" data-bs-target="#addFeedback_{{location.id}}">leave feedback</button>
							</div>
							<!-- Modal window-->
							<div class="modal fade" id="addFeedback_{{location.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Average taxi and restaurant prices</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<form  method="post">
											{% csrf_token %}
											<div class="modal-body">
												<div class="mb-2">
													<span class="WidthSpan">Average taxi price: </span>{{ form.taxi_price }} {{ location.currency_code }}
												</div>
												<div class="mb-2">
													<span class="WidthSpan">Average restaurant price: </span>{{ form.restaurant_price }} {{location.currency_code}}
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Leave feedback</button>
											</div>
										</form>
									</div>
								</div>
							</div>



						</div>
					{% endfor %}
				</div>




			</div>

		</div>
{% endblock %}

{% block script %}
		<script src="{% static 'infopage/js/index.js' %}"></script>
		<script src="{% static 'infopage/js/timer.js' %}"></script>
		<script src="{% static 'infopage/js/weather.js' %}"></script>
		<script src="{% static 'infopage/js/currency.js' %}"></script>
{% endblock %}
