{% extends "infopage/layout.html" %}
{% load static %}

{% block body %}

		<div class="container">
			<form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-username">Username</label>
            <input id="input-username" class="form-control" type="text" autofocus required name="username" placeholder="Username" aria-describedby="input-username-describe">
						{% if message %}
							<small id="input-username-describe" class="form-text">{{ message }}</small>
						{% endif %}
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-email">Email</label>
            <input id="input-email" class="form-control" type="email" required name="email" placeholder="Email">
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-password">Password</label>
            <input id="input-password" class="form-control" type="password" required name="password" placeholder="Password">
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="input-confpassword">Confirm password</label>
            <input id="input-confpassword" class="form-control" type="password" required name="confirm_password" placeholder="Confirm Password">
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="contries">Country</label>
            <select id="countries" class="form-control" required name="country_name" placeholder="Country">
                <option value="" disabled selected hidden>Country</option>
            </select>
        </div>
        <div class="form-group mb-2 col-md-8 offset-md-2">
						<label for="cities">City</label>
            <input id="cities" class="form-control" required name="city_name" placeholder="City" type="search" list="cities_list" disabled>
            <datalist id="cities_list"></datalist>
        </div>

        <!-- Hidden forms -->
        <input id="country_code" type="text" name="country_code" value="" hidden>
        <input id="country_latitude" type="text" name="country_latitude" value="" hidden>
        <input id="country_longitude" type="text" name="country_longitude" value="" hidden>
        <input id="country_population" type="text" name="country_population" value="" hidden>

        <input id="city_latitude" type="text" name="city_latitude" value="" hidden>
        <input id="city_longitude" type="text" name="city_longitude" value="" hidden>
        <input id="city_population" type="text" name="city_population" value="" hidden>
        <input id="city_timezone" type="text" name="city_timezone" value="" hidden>

				<div class="offset-md-2">
					<input id="register_btn" type="submit" value="Register" disabled="true">
					<div>
						Already have an account? <a href="{% url 'login' %}">Log In here.</a>
					</div>
				</div>
    	</form>
		</div>


{% endblock %}

{% block script %}
    <script src="{% static 'infopage/js/get_location.js' %}"></script>
{% endblock %}
