{% extends "infopage/layout.html" %}
{% load static %}

{% block body %}

    <h1>Register</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" autofocus required name="username" placeholder="Username">
        </div>
        <div>
            <input type="email" required name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" required name="password" placeholder="Password">
        </div>
        <div>
            <input type="password" required name="confirm_password" placeholder="Confirm Password">
        </div>
        <div>
            <select id="countries" required name="country" placeholder="Country">
                <option value="" disabled selected hidden>Country</option>
            </select>
        </div>
        <div>
            <input id="cities" required name="city" placeholder="City" type="search" list="cities_list" disabled>
            <datalist id="cities_list"></datalist>
        </div>
        <input id="register_btn" type="submit" value="Register" disabled="true">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}

{% block script %}
    <script src="{% static 'infopage/country.js' %}"></script>
{% endblock %}
